downloaded_files
inventories/opengauss/credentials
inventories/opengauss/assembled_vars
inventories/opengauss/report*
inventories/opengauss/hostvars
vagrant/.vagrant
vagrant/packer_cache
vagrant/output*
log
test.yml