
    <!-- CLUSTER REPLICA -->
{% for node in (groups['opengauss_replica_nodes'] | sort) %}
    <DEVICE sn="og{{ node | ipaddr('int') }}">
      <PARAM name="name" value="og{{ node | ipaddr('int') }}"/>
      <PARAM name="azName" value="{{ combined_vars.opengauss_env.azName | default('AZ1') }}"/>
      <PARAM name="azPriority" value="{{ combined_vars.opengauss_env.azPriority | default('1') }}"/>
      <PARAM name="backIp1" value="{{ node }}"/>
      <PARAM name="sshIp1" value="{{ node }}"/>
{% if (groups['opengauss'] | count) > 2 %}
      <!-- CLUSTER MANAGER -->
      <PARAM name="cmServerPortStandby" value="{{ combined_vars.opengauss_env.cmServerPortBase }}"/>
      <PARAM name="cmDir" value="{{ og_data_path }}/cmserver"/>
      <PARAM name="cascadeRole" value="{{ (node in groups['opengauss_cascade']) | ternary('on', 'off') }}"/>
{% endif %}
    </DEVICE>

{% endfor %}

