{% if (groups['opengauss'] | count) > 2 %}
    <!-- CLUSTER MANAGER -->
    <PARAM name="cmsNum" value="1"/>
    <PARAM name="cmServerPortBase" value="{{ combined_vars.opengauss_env.cmServerPortBase }}"/>
    <PARAM name="cmServerListenIp1" value="{{ og_ip_list }}"/>
    <PARAM name="cmServerHaIp1" value="{{ og_ip_list }}"/>
    <PARAM name="cmServerlevel" value="1"/>
    <PARAM name="cmServerRelation" value="{{ og_host_list }}"/>
    <PARAM name="cmDir" value="{{ og_data_path }}/cmserver"/>
{% endif %}
    <!-- Data Node -->
    <PARAM name="dataNum" value="1"/>
    <PARAM name="dataPortBase" value="{{ combined_vars.opengauss_env.dataPortBase }}"/>
    <PARAM name="dataNode1" value="{{ og_data_path }}/dn
    {%- for node in og_replicas -%}
    ,og{{ node | ipaddr('int') }},{{ og_data_path }}/dn
    {%- endfor -%}
    "/>
    <PARAM name="dataNode1_syncNum" value="0"/>