[defaults]
nocows = True
inventory  = ./inventories/opengauss/hosts.ini
roles_path = ~/.ansible/roles,/workdir/roles,./roles

remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp
pipelining = True
become = True
host_key_checking = False
deprecation_warnings = False
callback_whitelist = profile_tasks
display_skipped_hosts = False
#stdout_callback = yaml
